$primary: #5265e1;
$secondary: #fa5959;

$btn-border-radius: 0.35rem;
$input-border-radius: .35rem;
$input-btn-padding-y: 0;
$link-color: black;

$border-width: 3px;
$border-widths: (
  5: 14px,
);
$border-radius: 1.5rem;
$border-color: rgba(255, 255, 255, 0); 


$nav-tabs-link-active-color: #fa5959;
$nav-tabs-link-hover-border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fa5959;
$nav-tabs-link-active-border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fa5959;

$card-border-color: rgba(255, 255, 255, 0);

//NO FUNCIONA
// $card-box-shadow: 0 .5rem 1rem rgba(black, .15); 

$accordion-color: gray;
$accordion-bg: rgba(255, 255, 255, 0);
$accordion-icon-color: black;
$accordion-icon-active-color: #fa5959;
$accordion-button-active-bg: rgba(255, 255, 255, 0);
$accordion-button-focus-border-color: rgba(255, 255, 255, 0);
$accordion-button-focus-box-shadow: 0;
$accordion-button-active-color: gray;
$accordion-border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); 
$accordion-border-radius: 2px;



$form-feedback-invalid-color: #fa5959;
$form-feedback-icon-invalid-color: #fa5959;

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-primary:hover {
  background-color: white;
  color: #5265e1;
  border: solid 2px #5265e1;
}

.footIcon,
.btn-secondary {
  color: white;
}

.footIcon:hover{
  background-color: white;
  color: #fa5959;
  border: none;
}

.btn-secondary:hover {
  background-color: white;
  color: #fa5959;
  border: solid 2px #fa5959;
}

.btn-gray,
.nav-link {
  color: gray;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #fa5959;
  border: solid 2px rgba(255, 255, 255, 0);
  
}

.nav-tabs {
  border-top: solid 2px rgba(255, 255, 255, 0);
}

.accordion-button:hover{
color: #fa5959;
}


.downCard {
  max-width: 15rem;
  box-shadow: 9px 3px 15px 4px #69696962;
  transition: all .3s;
}

.downCard:hover {
  max-width: 16rem;
}

.accordion-button{
  border:  0;
}


